.App {
  text-align: center;
  display: flex;
  /* padding-top: 30vh; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100vh;
  background-color: rgb(247, 225, 241);
}

.button {
  background-color: rgb(247, 225, 241);
}